<% if @count_or_time == "count" %>
  <%= link_to "グラフの切り替え", graph_path(id: @user.id, count_or_time: "time"), remote: true %>
  <h3>回数系のグラフ</h3>
<% else %>
  <%= link_to "グラフの切り替え", graph_path(id: @user.id, count_or_time: "count"), remote: true %>
  <h3>時間系のグラフ</h3>
<% end %>
<% if @pie_chart_data.presence %>
  <%= pie_chart @pie_chart_data %>
  <%= line_chart @line_chart_data.each { |line|
    {name: line[:name], data: line[:data]}
  } %>
<% else %>
  <h4>no data</h4>
<% end %>