<ul class="likes">
  <h3>お気に入り</h3>
  <% @liking_posts.each do |post| %>
    <li>
      <%= image_tag display_avatar(post.user), size: "#{'50' if display_avatar(post.user).is_a?(String) }" %>
      <%= link_to post.user.name, post.user %>
      <%= link_to post.impression, post %>
    </li>
  <% end %>
</ul>

<%= paginate @liking_posts, remote: true %>