<h1>ユーザ一覧</h1>

<div id="users">
  <%= render 'users', users: @users %>
</div>

<%= paginate @users %>

<% if user_signed_in? %>
  <div id="recommended-user">
    <% if @recommended_users.present? %>
      <p>おすすめユーザ</p>
      <%= render 'users', users: @recommended_users if @recommended_users.present? %>
    <% end %>
  </div>
<% end %>