<h1>ユーザ一覧</h1>

<div id="users">
  <%= render 'users', users: @users %>
</div>

<%= paginate @users %>

<div id="recommended-user">
  <p>おすすめユーザ</p>
  <%= render 'users', users: @recommended_users if @recommended_users.present? %>
</div>