<div class="search-form">
  <%= form_with url: searches_url, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="hashtags">
  <%= render 'shared/hashtags' %>
</div>