<div id="message-top">
  <%= link_to "戻る", rooms_path %>
  <%= @another_entry.user.name %>
</div>

<div id="message-area">
  <div id="messages">
    <%= render 'messages/messages' %>
  </div>
  <div id="message-form">
    <%= render 'messages/message_form' %>
  </div>
</div>