<%#= link_to "回数系", new_rehabilitation_path(count: "plus", count_number: @count_number, time_number: @time_number) %>
<%#= link_to "時間系", new_rehabilitation_path(time: "plus", count_number: @count_number, time_number: @time_number) %>

<%= javascript_pack_tag 'posts/new' %>

<h1>新規投稿</h1>

<%= link_to image_tag("cross.svg", alt: "閉じる", width: "20px"), erase_new_post_box_path, remote: true %>

<button id="add-count-rehabilitation-btn">回数系</button>
<button id="add-time-rehabilitation-btn">時間系</button>

<div id="post-form">
  <%= render 'post_form' %>
</div>
<p>*入力フォームは最大で10個までです*</p>