<h1>投稿一覧</h1>

<div id="category-tab">
  <%= link_to "タイムライン", categorized_posts_path(name: "timeline"), remote: true if user_signed_in? %>
  <%= link_to "全て", categorized_posts_path(name: "all"), remote: true %>
  <% @hashtags.each do |hashtag| %>
    <%= link_to "##{hashtag.name} #{hashtag.posts.count}件", categorized_posts_path(name: hashtag.name), remote: true %>
  <% end %>
</div>

<div class="categorized-posts">
  <%= render 'shared/categorized_posts' %>
</div>
