// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#new-post-box {
  background:rgba(65,191,155,0.5);
  position: fixed;
  width: 50%;
  margin-left: 25%;
  .close-box {
    text-align: right;
  }
  #new-post-content {
    padding: 0 20%;
  }
}

#category-tab {
  overflow: hidden;
  li {
    float: left;
    margin: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    a {
      color: rgb(23, 92, 78);
      //text-shadow: 0.1px 0.1px 0 rgb(68, 240, 207), -0.1px 0.1px 0 rgb(68, 240, 207), 0.1px -0.1px 0 rgb(68, 240, 207), -0.1px -0.1px 0 rgb(68, 240, 207);
    }
  }
  .tab-active {
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid;
    border-color: rgb(65,191,155);
  }
}

#posts {
  .post {
    margin: 10px 0;
    .post-right {
      display: inline-block;
      .post-impression {
        display: block;
      }
    }
  }
}