// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#rooms {
  #entry {
    margin: 20px 0;
    #entry-right {
      display: inline-block;
      .message-content {
        display: block;
      }
    }
  }
}

#message-area {
  background-color:rgb(241, 245, 245);
  #messages {
    margin: 10px 0;
    #message {
      width: 400px;
      margin-top: 10px;
      margin-bottom: 10px;
      .message-content {
        display: inline-block;
        width: 300px;
        padding: 10px;
        border: 1px solid;
        border-radius: 8px;
        background-color: white;
      }
    }
    .my_message {
      margin-left: auto;
    }
  }
  #message-form {
    text-align: center;
  }
}