// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "settings";

#search-box {
  background:rgba(65,191,155,0.5);
  position: fixed;
  width: 30%;
  margin-left: 35%;
  .close-box-btn {
    @include close-box-btn
  }
  #search-content {
    padding: 0px 10%;
    margin-top: 10px;
    #search-form {
      text-align: center;
    }
    li {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      background-color: white;
      border: solid;
      border-color: rgba(65,191,155,1);
      border-radius: 8px;
    }
  }
}
